*.obj
*.dll
*.exe
*/bin
*/obj
*.config
QuickDoc/QuickDoc/bin/Debug/QuickDoc.pdb
*.manifest
QuickDoc/QuickDoc/bin/x64/Debug/QuickDoc.pdb
*.pdb
QuickDoc/QuickDoc/obj/Debug/App.baml
QuickDoc/QuickDoc/obj/Debug/App.g.i.cs
QuickDoc/QuickDoc/obj/Debug/App.g.cs
*.baml
QuickDoc/QuickDoc/obj/Debug/MainWindow.g.cs
*.cache
QuickDoc/QuickDoc/obj/Debug/MainWindow.g.i.cs
QuickDoc/QuickDoc/obj/Debug/QuickDoc.csproj.FileListAbsolute.txt
*.resources
QuickDoc/QuickDoc/obj/Debug/QuickDoc_MarkupCompile.i.lref
QuickDoc/QuickDoc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
QuickDoc/QuickDoc/obj/x64/Debug/App.g.cs
QuickDoc/QuickDoc/obj/x64/Debug/MainWindow.g.i.cs
QuickDoc/QuickDoc/obj/x64/Debug/QuickDoc_MarkupCompile.i.lref
*.lref
QuickDoc/QuickDoc/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
QuickDoc/QuickDoc/SpeechRecManager.cs
QuickDoc/QuickDoc/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
QuickDoc/SpeechRecLib/obj/Debug/SpeechRecLib.csproj.FileListAbsolute.txt
QuickDoc/SpeechRecLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
QuickDoc/SpeechRecLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
QuickDoc/SpeechRecLib/obj/x64/Debug/SpeechRecLib.csproj.FileListAbsolute.txt
QuickDoc/SpeechRecLib/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
QuickDoc/SpeechRecLib/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
QuickDoc/QuickDoc/obj/x64/Debug/MainWindow.g.cs
QuickDoc/QuickDoc/obj/x64/Debug/QuickDoc.csproj.FileListAbsolute.txt
QuickDoc/QuickDoc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
QuickDoc/QuickDoc/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
QuickDoc/SpeechRecLib/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
QuickDoc/QuickDoc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
QuickDoc/QuickDoc/obj/x64/Debug/App.g.i.cs
QuickDoc/SpeechRecLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
